/* CSS Document for CSV 2 POST
Created: 9th October 2011
Author: Ryan Bayne
Site: www.webtechglobal.co.uk
Email: info@webtechglobal.co.uk
*/

#csv2post_cssmenu ul {margin: 0; padding: 7px 6px 0; background: #7d7d7d url(../../images/menus/overlay.png) repeat-x 0 -110px; line-height: 100%; border-radius: 1em; font: normal 12px Arial, Helvetica, sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#csv2post_cssmenu li {margin: 0 5px; padding: 0 0 8px; float: left; position: relative; list-style: none; }
#csv2post_cssmenu a,
#csv2post_cssmenu a:link {font-weight: bold; color: #e7e5e5; text-decoration: none; display: block; padding:  8px 5px; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;     text-shadow: 0 1px 1px rgba(0,0,0, .3); }
#csv2post_cssmenu a:hover {background: #000; color: #fff;}
#csv2post_cssmenu .active a, 
#csv2post_cssmenu li:hover > a {background: #666 url(../../images/menus/overlay.png) repeat-x 0 -40px; color: #444; border-top: solid 1px #f8f8f8; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); box-shadow: 0 1px 1px rgba(0,0,0, .2); text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#csv2post_cssmenu ul ul li:hover a,
#csv2post_cssmenu li:hover li a {background: none; border: none; color: #666; -webkit-box-shadow: none; -moz-box-shadow: none;}
#csv2post_cssmenu ul ul a:hover {background: #8f8f8f url(../../images/menus/overlay.png) repeat-x 0 -100px !important; color: #fff !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0 1px 1px rgba(0,0,0, .1);}
#csv2post_cssmenu li:hover > ul {display: block;}
#csv2post_cssmenu ul ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 40px; left: 0; background: #ddd url(../images/menus/overlay.png) repeat-x 0 0; border: solid 1px #b4b4b4; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#csv2post_cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#csv2post_cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#csv2post_cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
* html #csv2post_cssmenu  ul {height: 1%;}

.csv2post_forms_div{  
    padding: 10px 10px 10px 10px;
}

.csv2post_boxintro_div{
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 2px;
    font-size: 16px;
}

.csv2post_panelcolumn_Top_A_Left {
    width:90%;
}

.csv2post_panelcolumn_Top_A_Right{  
    clear:both;
    width:auto;
    float:right;
}

/*
* Form Styling Start
*/
.csv2post_form input {
    font-size:150%;
}
/*
* Form Styling End
*/

/*
* Multi-Select List Start
*/
#csv2post_multi-select_listexample{
  margin-right: 0px;
  background: #eee;
  padding: 20px 20px;
  border-radius:         4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius:    4px 0px 0px 4px;
  -khtml-border-radius:  4px 0px 0px 4px;
  border: 1px #ddd solid;
}
/*
* Multi-Select List End
*/

/**
* Multiselect Menu Start
*/
.csv2post_multiselect_menu{
    width: 350px; 
    /*display: none;*/
}
/**
* Multiselect Menu End
*/