/* CSS Document for WTG Plugin Template
WTG Plugin Template VERSION 0.0.1
Created: 9th October 2011
Author: Zara Walsh
Site: www.importcsv.eu
Email: zara@wordpresscsvimpoter.com
*/

.wtgcsv_boxintro_div{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.wtgcsv_boxcontent_div{
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 18px;
    padding-left: 10px;
}

/*
* Form Styling Start
*/
.wtgcsv_form input {
    font-size:150%;
}
/*
* Form Styling End
*/

/*
* Styled Checkboxes Start
*/
legend {
	font-size: 17px;
}

fieldset {
	border: 0;
}

.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checklist li {
	float: left;
	margin-right: 10px;
	background: url(../../templatesystem/images/checkboximages/checkboxbg.gif) no-repeat 0 0;
	width: 105px;
	height: 150px;
	position: relative;
	font: normal 11px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}

.checklist li.selected {
	background-position: -105px 0;
}

.checklist li.selected .checkbox-select {
	display: none;
}

.checkbox-select {
	display: block;
	float: left;
	position: absolute;
	top: 118px;
	left: 10px;
	width: 85px;
	height: 23px;
	background: url(../../templatesystem/images/checkboximages/select.gif) no-repeat 0 0;
	text-indent: -9999px;
}

.checklist li input {
	display: none;
}

a.checkbox-deselect {
	display: none;
	color: white;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: 120px;
	right: 10px;
}

.checklist li.selected a.checkbox-deselect {
	display: block;
}

.checklist li label {
	display: block;
	text-align: center;
	padding: 8px;
}
/*
* Styled Checkboxes End
*/

/*
* Multi-Select List Start
*/
#wtgcsv_multi-select_listexample{
  margin-right: 0px;
  background: #eee;
  padding: 20px 20px;
  border-radius:         4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius:    4px 0px 0px 4px;
  -khtml-border-radius:  4px 0px 0px 4px;
  border: 1px #ddd solid;
}
/*
* Multi-Select List End
*/

/**
* Multiselect Menu Start
*/
.wtgcsv_multiselect_menu{
    width: 350px; 
    display: none;
}

/**
* Multiselect Menu End
*/