/* CSS Document for WTG Plugin Template
WTG Plugin Template VERSION 0.0.1
Created: 9th October 2011
Author: Zara Walsh
Site: www.csv2post.com
Email: zara@wordpresscsvimpoter.com
*/

.csv2post_forms_div{  
    padding: 10px 10px 10px 10px;
}

.csv2post_boxintro_div{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.csv2post_boxcontent_div{
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 18px;
    padding-left: 10px;
}

/*
* Form Styling Start
*/
.csv2post_form input {
    font-size:150%;
}
/*
* Form Styling End
*/

/*
* Multi-Select List Start
*/
#csv2post_multi-select_listexample{
  margin-right: 0px;
  background: #eee;
  padding: 20px 20px;
  border-radius:         4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius:    4px 0px 0px 4px;
  -khtml-border-radius:  4px 0px 0px 4px;
  border: 1px #ddd solid;
}
/*
* Multi-Select List End
*/

/**
* Multiselect Menu Start
*/
.csv2post_multiselect_menu{
    width: 350px; 
    /*display: none;*/
}
/**
* Multiselect Menu End
*/