/* CSS Document for WTG Friendly Messenger 
WTG MESSAGE BOXES VERSION 1.1 
Created: 14th January 2009
Author: Zara Walsh
Site: www.importcsv.eu
Email: info@importcsv.eu
*/

/*  TINY MESSAGE BOXES START */
.infoTiny, .successTiny, .warningTiny, .errorTiny, .validationTiny, 
.questionTiny, .processingTiny, .restrictedTiny, .stopTiny, .stepTiny {  
	margin: 10px 0px; /* top and bottom */ 
	padding:5px 5px 5px 28px;  
	background-repeat: no-repeat;  
	background-position: 3px center; 
	display: block;
	font-size:16px;
    background-size:20px 20px;
}

.infoTiny{  
	color: #00529B;  
	background-color: #BDE5F8;  
	background-image: url(../images/info_large.png);  
	border: 4px solid #86CFF2;
}  

.successTiny{  
	color: #4F8A10;  
	background-color: #DFF2BF;  
	background-image:url(../images/success_large.png);  
	border: 5px solid #C4E789;
}  

.warningTiny{  
	color: #9F6000;  
	background-color: #FEEFB3;  
	background-image: url(../images/warning_large.png);  
	border: 3px solid #FDE06C;
} 

.errorTiny{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image: url(../images/error_large.png);  
	border: 5px solid #FF7979;
}  

.questionTiny{  
	color: #00529B;  
	background-color: #BDE5F8;   
	background-image: url(../images/question_large.png);  
	border: 5px solid #86CFF2;
}

.processingTiny{  
	color: #4F8A10;  
	background-color: #DFF2BF;   
	background-image:url(../images/processing_large.png);  
	border: 5px solid #C4E789;
} 

.stopTiny{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image:url(../images/stop_large.png);  
	border: 5px solid #FF7979;
}

.stepTiny{  
    color: #00529B;  
    background-color: #BDE5F8;  
    background-image: url(../images/step_large.png);  
    border: 4px solid #86CFF2;
}  
/*  TINY MESSAGE BOXES FINISH */

/*  SMALL MESSAGE BOXES START */
.infoSmall, .successSmall, .warningSmall, .errorSmall, .validationSmall, 
.questionSmall, .processingSmall, .restrictedSmall, .stopSmall, .stepSmall {  
	margin: 10px 0px; /* top and bottom */ 
	padding:17px 10px 17px 60px;  
	background-repeat: no-repeat;  
	background-position: 10px center; 
	display: block;
	font-size:18px;
    background-size:44px 44px;
}

.infoSmall{  
	color: #00529B;  
	background-color: #BDE5F8;  
	background-image: url(../images/info_large.png);  
	border: 4px solid #86CFF2;
}  

.successSmall{  
	color: #4F8A10;  
	background-color: #DFF2BF;  
	background-image:url(../images/success_large.png);  
	border: 5px solid #C4E789;
}  

.warningSmall{  
	color: #9F6000;  
	background-color: #FEEFB3;  
	background-image: url(../images/warning_large.png);  
	border: 5px solid #FDE06C;
} 

.errorSmall{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image: url(../images/error_large.png);  
	border: 5px solid #FF7979;
}  

.questionSmall{  
	color: #00529B;  
	background-color: #BDE5F8;   
	background-image: url(../images/question_large.png);  
	border: 5px solid #86CFF2;
}

.processingSmall{  
	color: #4F8A10;  
	background-color: #DFF2BF;   
	background-image:url(../images/processing_large.png);  
	border: 5px solid #C4E789;
} 

.stopSmall{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image:url(../images/stop_large.png);  
	border: 5px solid #FF7979;
}

.stepSmall{  
    color: #00529B;  
    background-color: #BDE5F8;  
    background-image: url(../images/step_large.png);  
    border: 4px solid #86CFF2;
}   
/*  SMALL MESSAGE BOXES FINISH */

/* LARGE MESSAGE BOXES START */

.infoLarge, .successLarge, .warningLarge, .errorLarge, .validationLarge, 
.questionLarge, .processingLarge, .restrictedLarge, .stopLarge, .stepLarge {  
	margin: 10px 0px; /* top and bottom */ 
	padding:10px 20px 20px 115px;  
	background-repeat: no-repeat;  
	background-position: 10px center; 
	display: block;
	font-size:18p;
    background-size:80px 80px;
}

.infoLarge{  
	color: #00529B;  
	background-color: #BDE5F8;  
	background-image: url(../images/info_large.png);  
	border: 5px solid #86CFF2;
}  

.successLarge{  
	color: #4F8A10;  
	background-color: #DFF2BF;  
	background-image:url(../images/success_large.png);  
	border: 5px solid #C4E789;
}  

.warningLarge{  
	color: #9F6000;  
	background-color: #FEEFB3;  
	background-image: url(../images/warning_large.png);  
	border: 5px solid #FDE06C;
} 

.errorLarge{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image: url(../images/error_large.png);  
	border: 5px solid #FF7979;
}  

.questionLarge{  
	color: #00529B;  
	background-color: #BDE5F8;   
	background-image: url(../images/question_large.png);  
	border: 5px solid #86CFF2;
}

.processingLarge{  
	color: #4F8A10;  
	background-color: #DFF2BF;   
	background-image:url(../images/processing_large.png);  
	border: 5px solid #C4E789;
} 

.stopLarge{  
	color: #D8000C;  
	background-color: #FFBABA;  
	background-image:url(../images/stop_large.png);  
	border: 5px solid #FF7979;
}  

.stepLarge{  
    color: #FFF;  
    background-color: #158DC8;  
    background-image: url(../images/step_large.png);  
    border: 5px solid #6DB6D5;
    text-decoration: none;
}

.stepLargeTest a:link {text-decoration:none;}
.stepLargeTest a:visited {text-decoration:none;}
.stepLargeTest a:hover {text-decoration:none;}
.stepLargeTest a:active {text-decoration:none;}

/* LARGE MESSAGE BOXES END */

/* EXTRA MESSAGE BOXES START */

.infoExtra, .successExtra, .warningExtra, .errorExtra, .validationExtra, 
.questionExtra, .processingExtra, .restrictedExtra, .stopExtra, .stepExtra {  
	margin: 5px 0px; /* top and bottom */ 
	padding:0px 20px 30px 20px;  
	background-repeat: no-repeat;  
	background-position: 10px center; 
	display: block;
	font-size:18px;
}

.infoExtra{  
	color: #004380;  
	background-color: #BDE5F8;  
	background-image: url(../images/info_extra.png);  
	border: 5px solid #86CFF2;
}  

.successExtra{  
	color: #3D690C;  
	background-color: #DFF2BF;  
	background-image:url(../images/success_extra.png);  
	border: 5px solid #C4E789;
}  

.warningExtra{  
	color: #794800;  
	background-color: #FEEFB3;  
	background-image: url(../images/warning_extra.png);  
	border: 5px solid #FDE06C;
} 

.errorExtra{  
	color: #A60009;  
	background-color: #FFBABA;  
	background-image: url(../images/error_extra.png);  
	border: 5px solid #FF7979;
}  

.questionExtra{  
	color: #003C71;  
	background-color: #BDE5F8;   
	background-image: url(../images/question_extra.png);  
	border: 5px solid #86CFF2;
}

.processingExtra{  
	color: #39630C;  
	background-color: #DFF2BF;   
	background-image:url(../images/processing_extra.png);  
	border: 5px solid #C4E789;
} 

.stopExtra{  
	color: #930007;  
	background-color: #FFBABA;  
	background-image:url(../images/stop_extra.png);  
	border: 5px solid #FF7979;
}

.stepExtra{  
    color: #004380;  
    background-color: #BDE5F8;  
    background-image: url(../images/step_extra.png);  
    border: 5px solid #86CFF2;
}  

/* LARGE MESSAGE BOXES END */